html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: black;
}

.header-1 {
  height: 80px;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-1 img {
  width: 80px;
  align-items: center;
}
.header-1 #x {
  width: 80px;
  align-items: center;
}
.header-1 #logo {
  width: 70px;
  padding-left: 10px;
  margin-left: -40px;
}
.header-1 #llogo {
  display: none;
  width: 70px;
  padding-left: 10px;
  margin-left: 20px;
}
.header-1 a {
  text-decoration: none;
  color: #b7b7b7;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding-left: 50px;
  padding-right: 50px;
}
.header-1 #active {
  color: #ffffff;
  background-color: rgb(111, 111, 111);
  border-radius: 20px;
}
.header-1 #tbc {
  margin-right: -50px;
}
.header-1 i {
  display: none;
}

#title {
  height: 60px;
  background-color: #3f3f3f;
}
#title p {
  color: rgb(185, 185, 185);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 12px;
}

.about {
  width: 90%;
  height: 100px;
  background: #0767b0;
  background: linear-gradient(167deg, rgb(7, 103, 176) 50%, rgb(9, 9, 121) 5%, rgb(0, 212, 255) 100%);
  margin-left: 5%;
  margin-top: 30px;
  border-radius: 30px;
  overflow: hidden;
}
.about h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: white;
  text-align: center;
  padding-top: 35px;
}

.about2 {
  width: 90%;
  height: 200px;
  background: #5f76ba;
  background: linear-gradient(0deg, rgb(95, 118, 186) 0%, rgb(125, 219, 202) 100%);
  margin-left: 5%;
  margin-top: 30px;
  border-radius: 30px;
  overflow: hidden;
}
.about2 h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
.about2 p {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 8px;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .header-1 #x {
    display: none;
  }
  .header-1 a {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
  }
  .header-1 #tbc {
    margin-right: -10px;
    display: none;
  }
  .header-1 #llogo {
    display: inline;
  }
  .header-1 i {
    display: inline;
    margin-left: 100%;
    color: white;
    font-size: 20px;
  }
  .about {
    height: 110px;
  }
  .about h1 {
    font-size: 21px;
  }
  .about2 {
    height: 243px;
  }
  .about2 h1, .about2 p {
    font-size: 21px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header-1 img {
    width: 70px;
  }
  .header-1 #logo {
    width: 60px;
    padding-left: 70px;
  }
  .header-1 #x {
    display: none;
  }
  .header-1 a {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-1 #tbc {
    margin-right: -30px;
  }
  .about h1 {
    font-size: 20px;
  }
  .about2 h1, .about2 p {
    font-size: 20px;
  }
}/*# sourceMappingURL=abstyle.css.map */