html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: rgb(0, 0, 0);
}

.header-1 {
  height: 80px;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-1 img {
  width: 80px;
  align-items: center;
}
.header-1 #x {
  width: 80px;
  align-items: center;
}
.header-1 #logo {
  width: 70px;
  padding-left: 10px;
  margin-left: -40px;
}
.header-1 a {
  text-decoration: none;
  color: #b7b7b7;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding-left: 50px;
  padding-right: 50px;
}
.header-1 #active {
  color: #ffffff;
  background-color: rgb(111, 111, 111);
  border-radius: 20px;
}
.header-1 #tbc {
  margin-right: -50px;
}
.header-1 #llogo {
  display: none;
}
.header-1 i {
  display: none;
  color: white;
  font-size: 30px;
}

.cover {
  width: 100%;
  height: 400px;
  background-image: url(./../imges/cover.png);
  background-size: cover;
}
.cover input {
  width: 30%;
  height: 50px;
  margin-left: 35%;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.445);
  border-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 30px;
}
.cover h1 {
  text-align: center;
  justify-content: center;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.718);
  font-size: 400%;
  transition: 0.5s;
  padding-top: 100px;
}

#title {
  color: rgba(255, 255, 255, 0.718);
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  margin-left: 41%;
  margin-top: 20px;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}
.albums .billie {
  width: 173px;
  height: 220px;
  background: #0e1545;
  background: linear-gradient(0deg, rgb(14, 21, 69) 22%, rgb(25, 25, 94) 100%);
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
}
.albums .billie h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.albums .billie h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.albums .billie img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.albums .billie .download {
  width: 30%;
  height: 40%;
  margin-left: 63%;
  margin-top: -197px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.567);
  border-radius: 10%;
  display: none;
}
.albums .billie .view {
  width: 30%;
  height: 40%;
  margin-left: 63%;
  margin-top: 17px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.599);
  border-radius: 10%;
  display: none;
}
.albums .billie p {
  color: rgb(24, 24, 24);
  text-align: center;
  padding-top: 40%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: none;
}

.billie:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.billie:hover .download {
  display: inline;
}
.billie:hover .download p {
  display: inline;
}
.billie:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.billie:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.billie:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.xcx {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background: #826127;
  background: linear-gradient(0deg, rgb(130, 97, 39) 29%, rgb(46, 184, 53) 100%);
}
.xcx h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.xcx h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.xcx img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.xcx h2 {
  color: rgb(202, 202, 202);
}
.xcx h3 {
  color: rgb(202, 202, 202);
}

.xcx:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.xcx:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.xcx:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.xcx:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.lana {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background: #bababa;
  background: linear-gradient(0deg, rgb(186, 186, 186) 12%, rgb(51, 189, 182) 100%);
}
.lana h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.lana h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.lana img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.lana h2 {
  color: black;
}
.lana h3 {
  color: black;
}

.lana:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.lana:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.lana:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.lana:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.neighbourhood {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background-color: rgb(50, 50, 50);
}
.neighbourhood h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.neighbourhood h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.neighbourhood img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.neighbourhood h2 {
  color: rgb(202, 202, 202);
}
.neighbourhood h3 {
  color: rgb(202, 202, 202);
}

.neighbourhood:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.neighbourhood:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.neighbourhood:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.neighbourhood:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.tay {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background: #e8e8e8;
  background: linear-gradient(141deg, rgb(232, 232, 232) 13%, rgb(107, 107, 107) 83%);
}
.tay h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.tay h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.tay img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.tay h2 {
  color: black;
}
.tay h3 {
  color: black;
}

.tay:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.tay:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.tay:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.tay:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

#activee {
  background-color: white;
  color: black;
}

#genre {
  margin-top: 40px;
  margin-bottom: 40px;
}

nav, ul, li {
  display: inline;
}
nav ul, ul ul, li ul {
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 120px;
}
nav a, ul a, li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-left: 35px;
  padding: 8px;
  background-color: #313131;
  border-radius: 10px;
}

#title2 {
  color: rgb(79, 202, 255);
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  margin-left: 2%;
  margin-bottom: 20px;
}

.ttop {
  width: 50%;
  height: 575px;
  margin-left: 30px;
  background-image: url(./../imges/indie1.webp);
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.ttop h1 {
  color: white;
  font-size: 100px;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 410px;
  padding-left: 10px;
}
.ttop h3 {
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  padding-left: 10px;
}

.ttop:hover {
  filter: brightness(70%);
  transition: 0.5s;
}

.indie3 {
  width: 40%;
  height: 170px;
  background-image: url(./../imges/indie.webp);
  background-size: cover;
  margin-left: 57%;
  margin-top: -570px;
  border-radius: 20px;
  transition: 0.5s;
}
.indie3 h1 {
  color: white;
  font-size: 50px;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 40px;
  padding-left: 10px;
}
.indie3 h3 {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  padding-left: 10px;
}

.indie3:hover {
  filter: brightness(70%);
  transition: 0.5s;
}

.indie2 {
  width: 40%;
  height: 170px;
  background-image: url(./../imges/indie2.webp);
  background-size: cover;
  margin-left: 57%;
  margin-top: 30px;
  border-radius: 20px;
  transition: 0.5s;
}
.indie2 h1 {
  color: white;
  font-size: 50px;
  font-family: "Truculenta", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 40px;
  padding-left: 10px;
}
.indie2 h3 {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  padding-left: 10px;
}

.indie2:hover {
  filter: brightness(70%);
  transition: 0.5s;
}

.indie1 {
  width: 40%;
  height: 170px;
  background-image: url(./../imges/indie3.webp);
  background-size: cover;
  margin-left: 57%;
  margin-top: 30px;
  border-radius: 20px;
  transition: 0.5s;
}
.indie1 h1 {
  color: white;
  font-size: 45px;
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 30px;
  padding-left: 10px;
}
.indie1 h3 {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  padding-left: 10px;
}

.indie1:hover {
  filter: brightness(70%);
  transition: 0.5s;
}

.bili {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background: #8cc474;
  background: linear-gradient(0deg, rgb(140, 196, 116) 29%, rgb(140, 255, 240) 100%);
}
.bili h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.bili h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.bili img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.bili h2 {
  color: black;
}
.bili h3 {
  color: black;
}

.bili:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.bili:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.bili:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.bili:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.chappel {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background: #E6D5CB;
  background: linear-gradient(180deg, rgb(230, 213, 203) 55%, rgb(245, 88, 49) 100%);
}
.chappel h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.chappel h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.chappel img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.chappel h2 {
  color: black;
}
.chappel h3 {
  color: black;
}

.chappel:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.chappel:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.chappel:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.chappel:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.sabrina {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background: #69b1ff;
  background: linear-gradient(141deg, rgb(105, 177, 255) 35%, rgb(92, 92, 92) 100%);
}
.sabrina h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.sabrina h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.sabrina img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.sabrina h2 {
  color: black;
}
.sabrina h3 {
  color: black;
}

.sabrina:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.sabrina:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.sabrina:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.sabrina:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.kendrik {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background: #d9d9d9;
  background: linear-gradient(350deg, rgb(217, 217, 217) 0%, rgb(186, 43, 43) 39%);
}
.kendrik h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.kendrik h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.kendrik img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.kendrik h2 {
  color: black;
}
.kendrik h3 {
  color: black;
}

.kendrik:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.kendrik:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.kendrik:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.kendrik:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.post {
  width: 173px;
  height: 220px;
  border-radius: 20px;
  margin-left: 40px;
  transition: 0.5s;
  background: #96b6d6;
  background: linear-gradient(180deg, rgb(150, 182, 214) 0%, rgb(150, 182, 214) 100%);
}
.post h2 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 2px;
  margin-top: 5px;
  text-align: center;
  display: block;
  transition: 0.5s;
}
.post h3 {
  color: rgb(202, 202, 202);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 6px;
  display: block;
  transition: 0.5s;
}
.post img {
  width: 155px;
  height: 155px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 9%;
  transition: 0.5s;
}
.post h2 {
  color: black;
}
.post h3 {
  color: black;
}

.post:hover {
  width: 300px;
  height: 220px;
  transition: 0.5s;
}
.post:hover h2 {
  margin-left: -120px;
  transition: 0.5s;
}
.post:hover h3 {
  margin-left: -120px;
  transition: 0.5s;
}
.post:hover img {
  width: 160px;
  height: 160px;
  transition: 0, 5s;
}

.end {
  height: 100px;
  background-color: #1b1b1b;
  margin-top: 30px;
}
.end p {
  color: rgb(175, 175, 175);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 20px;
}

@media screen and (min-device-width: 50px) and (max-device-width: 767px) {
  .header-1 #x {
    display: none;
  }
  .header-1 a {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
  }
  .header-1 #tbc {
    margin-right: -10px;
    display: none;
  }
  .header-1 #llogo {
    display: inline-block;
  }
  .header-1 i {
    display: inline;
    margin-left: 100%;
  }
  .header-1 .cover .h1 {
    font-size: 20%;
  }
  .ttop {
    display: none;
  }
  .indie3 {
    display: none;
  }
  .indie2 {
    display: none;
  }
  .indie1 {
    display: none;
  }
  #title2 {
    display: none;
  }
  #genre {
    display: none;
  }
  .title2 {
    display: none;
  }
  h4 {
    display: none;
  }
  .xcx, .lana, .neighbourhood, .tay, .bili, .chappel, .sabrina, .kendrik, .post {
    margin-top: 20px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header-1 img {
    width: 70px;
  }
  .header-1 #logo {
    width: 60px;
    padding-left: 70px;
  }
  .header-1 #x {
    display: none;
  }
  .header-1 a {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-1 #tbc {
    margin-right: -30px;
  }
  .indie3 {
    padding-top: -20px;
  }
  .indie3 h3 {
    display: none;
  }
  #title2 {
    display: none;
  }
  #genre {
    display: none;
  }
  .ttop {
    margin-top: 20px;
  }
  .ttop h1 {
    margin-top: -30px;
    margin-left: -30px;
  }
  .indie2 h3 {
    display: none;
  }
  .indie1 {
    overflow: hidden;
  }
  .indie1 h1 {
    margin-top: -30px;
  }
  .indie1 h3 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */