.header-1 {

    #x {
        display: none;
    }
    a {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 10px;
    padding-right: 10px;
display: none;}
     #tbc {
        margin-right: -10px;
        display: none;
    }
    #llogo {
        display: inline;
    }
    i {
        display: inline;
        margin-left: 100%;
        color: white;
        font-size: 20px;
    }

}
.card {
    p {
            font-size: 15px;
    }
}