html {
    background-color:black
}
.header-1 {
    height: 80px;
    background-color: rgb(20, 20, 20);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    img {
        width: 80px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #x {
        width: 80px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #logo {
        width: 70px;
        padding-left: 10px;
        margin-left: -40px;
    }
    #llogo {
        display: none;
        width: 70px;
        padding-left: 10px;
        margin-left: 20px;
    }
    a {text-decoration: none;
    color: #b7b7b7;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 50px;
    padding-right: 50px;}

    #active {
      color: #ffffff;
      background-color: rgb(111, 111, 111);
      border-radius: 20px;
    }
    #tbc {
        margin-right: -50px;
    }
    i {
        display: none;
    }

}

.card {
    width: 90%;
    height: 600px;
    background: #525252;
background: -o-linear-gradient(264deg,rgba(82, 82, 82, 1) 0%, rgba(54, 54, 54, 1) 39%);
background: linear-gradient(186deg,rgba(82, 82, 82, 1) 0%, rgba(54, 54, 54, 1) 39%);
    margin-left: 5%;
    margin-top: 40px;
    border-radius: 50px;
    overflow: hidden;

    p {
        text-align: center;
        color: $card-fexf-color;
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        padding-top: 5px;
    }
    .first {
        padding-top: 230px;
    }
    
}