html {
    background-color: $backround-color;
}
.header-1 {
    height: 80px;
    background-color: $header-color;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        width: 80px;
        align-items: center;
    }
    #x {
        width: 80px;
        align-items: center;
    }
    #logo {
        width: 70px;
        padding-left: 10px;
        margin-left: -40px;
    }
    a {text-decoration: none;
    color: #b7b7b7;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 50px;
    padding-right: 50px;}
    #active {
      color: $header-active-color;
      background-color: rgb(111, 111, 111);
      border-radius: 20px;
    }
    #tbc {
        margin-right: -50px;
    }

}
.cover {
    width: 100%;
    height: 400px;
    background-image: url(./../imges/cover.png);
    background-size: cover;
    
    :hover {
        font-size: 110px;
        transition: 0.5s;
        transition: scale (1.0);
    }

    h1 {
        text-align: center;
        justify-content: center;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        color: $titles;
        font-size: 100px;
        transition: 0.5s;
    }
}
#title {
@include title;
}
#title-more {
    color: $titles;
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    margin-left: 90%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(91, 201, 92);
    border-radius: 30px;
    text-decoration: none;
}
.albums {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
    

.billie {
    width: 173px;
    height: 220px;
    background: #0e1545;
    background: linear-gradient(0deg,rgba(14, 21, 69, 1) 22%, rgba(25, 25, 94, 1) 100%);
    border-radius: 20px;
    margin-left: 40px;
    transition: 0.5s;

    h2 {
        color: $default-text-color;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        padding-left: 2px;
        margin-top: 5px;
        text-align: center;
        display:block;
        transition: 0.5s;
    }
    h3 {
        color: $default-text-color;
        font-family: "Roboto", sans-serif;
        text-align: center;
        padding-top: 6px;
        display:block;
        transition: 0.5s;
    }
    img {
        width: 155px;
        height: 155px;
        margin-left: 9px;
        margin-top: 9px;
        border-radius: 9%;
        transition: 0.5s;
    }
    
    
}
}
.billie:hover {
    width: 300px;
    height: 220px;
    transition: 0.5s;

h2 {
    margin-left: -120px;
    transition: 0.5s;
}
h3 {
    margin-left: -120px;
    transition: 0.5s;
}

    img {
        width: 160px;
        height: 160px;
        transition: 0,5s;
    }
}
.xcx {
    width: 173px;
    height: 220px;
    background: #826127;
background: linear-gradient(0deg,rgba(130, 97, 39, 1) 29%, rgba(46, 184, 53, 1) 100%);
    border-radius: 20px;
    margin-left: 40px;
    transition: 0.5s;

    h2 {
        color: $default-text-color;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        padding-left: 2px;
        margin-top: 5px;
        text-align: center;
        display:block;
        transition: 0.5s;
    }
    h3 {
        color: $default-text-color;
        font-family: "Roboto", sans-serif;
        text-align: center;
        padding-top: 6px;
        display:block;
        transition: 0.5s;
    }
    img {
        width: 155px;
        height: 155px;
        margin-left: 9px;
        margin-top: 9px;
        border-radius: 9%;
        transition: 0.5s;
    }
    
    
}
.xcx:hover {
    width: 300px;
    height: 220px;
    transition: 0.5s;

h2 {
    margin-left: -120px;
    transition: 0.5s;
}
h3 {
    margin-left: -120px;
    transition: 0.5s;
}

    img {
        width: 160px;
        height: 160px;
        transition: 0,5s;
    }
}
.lana {
    width: 173px;
    height: 220px;
    background: #bababa;
background: linear-gradient(0deg,rgba(186, 186, 186, 1) 12%, rgba(51, 189, 182, 1) 100%);
    border-radius: 20px;
    margin-left: 40px;
    transition: 0.5s;

    h2 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        padding-left: 2px;
        margin-top: 5px;
        text-align: center;
        display:block;
        transition: 0.5s;
    }
    h3 {
        color: black;
        font-family: "Roboto", sans-serif;
        text-align: center;
        padding-top: 6px;
        display:block;
        transition: 0.5s;
    }
    img {
        width: 155px;
        height: 155px;
        margin-left: 9px;
        margin-top: 9px;
        border-radius: 9%;
        transition: 0.5s;
    }
    
    
}
.lana:hover {
    width: 300px;
    height: 220px;
    transition: 0.5s;

h2 {
    margin-left: -120px;
    transition: 0.5s;
}
h3 {
    margin-left: -120px;
    transition: 0.5s;
}

    img {
        width: 160px;
        height: 160px;
        transition: 0,5s;
    }
}
.neighbourhood {
    width: 173px;
    height: 220px;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    margin-left: 40px;
    transition: 0.5s;

    h2 {
        color: $default-text-color;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        padding-left: 2px;
        margin-top: 5px;
        text-align: center;
        display:block;
        transition: 0.5s;
    }
    h3 {
        color: $default-text-color;
        font-family: "Roboto", sans-serif;
        text-align: center;
        padding-top: 6px;
        display:block;
        transition: 0.5s;
    }
    img {
        width: 155px;
        height: 155px;
        margin-left: 9px;
        margin-top: 9px;
        border-radius: 9%;
        transition: 0.5s;
    }
    
    
}
.neighbourhood:hover {
    width: 300px;
    height: 220px;
    transition: 0.5s;

h2 {
    margin-left: -120px;
    transition: 0.5s;
}
h3 {
    margin-left: -120px;
    transition: 0.5s;
}

    img {
        width: 160px;
        height: 160px;
        transition: 0,5s;
    }
}
.tay {
    width: 173px;
    height: 220px;
background: #e8e8e8;
background: linear-gradient(141deg,rgba(232, 232, 232, 1) 13%, rgba(107, 107, 107, 1) 83%);
    border-radius: 20px;
    margin-left: 40px;
    transition: 0.5s;

    h2 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        padding-left: 2px;
        margin-top: 5px;
        text-align: center;
        display:block;
        transition: 0.5s;
    }
    h3 {
        color: black;
        font-family: "Roboto", sans-serif;
        text-align: center;
        padding-top: 6px;
        display:block;
        transition: 0.5s;
    }
    img {
        width: 155px;
        height: 155px;
        margin-left: 9px;
        margin-top: 9px;
        border-radius: 9%;
        transition: 0.5s;
    }
    
    
}
.tay:hover {
    width: 300px;
    height: 220px;
    transition: 0.5s;

h2 {
    margin-left: -120px;
    transition: 0.5s;
}
h3 {
    margin-left: -120px;
    transition: 0.5s;
}

    img {
        width: 160px;
        height: 160px;
        transition: 0,5s;
    }
}

   #genre {margin-top: 40px;
margin-bottom: 40px;} 
nav, ul, li {
    display: inline;

ul {list-style: none;
margin-top: 20px;}

a {text-decoration: none;
color: $text;
font-weight: 400;
font-size: 25px;
font-family: "Roboto", sans-serif;
margin-left: 35px;
padding: 8px;
background: #942fb5;
background: linear-gradient(0deg,rgba(148, 47, 181, 1) 0%, rgba(146, 52, 182, 1) 29%, rgba(45, 253, 225, 1) 100%);
border-radius: 10px;
}
}
#title2 {
    @include title2;
}
.ttop {
   width: 50%;
   height: 575px;
   margin-left: 30px;
    background-image: url(./../imges/indie1.webp);
    background-size: cover;
    border-radius: 20px;

    h1 {
        color: $text;
        font-size: 100px;
        font-family: "Monoton", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 410px;
        padding-left: 10px;
    }
    h3 {
        color: $text;
        font-size: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 20px;
        padding-left: 10px;
    }
}
.indie3 {
    width: 40%;
    height: 170px;
    background-image: url(./../imges/indie.webp);
    background-size: cover;
    margin-left: 855px;
    margin-top: -570px;
    border-radius: 20px;
    h1 {
        color: $text;
        font-size: 50px;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 40px;
        padding-left: 10px;
    }
    h3 {
        color: $text;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 20px;
        padding-left: 10px;
    }}

 .indie2 {   
    width: 40%;
    height: 170px;
    background-image: url(./../imges/indie2.webp);
    background-size: cover;
    margin-left: 855px;
    margin-top: 30px;
    border-radius: 20px;
    h1 {
        color: $text;
        font-size: 50px;
         font-family: "Truculenta", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 40px;
        padding-left: 10px;
    }
    h3 {
        color: $text;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 20px;
        padding-left: 10px;
    }}

    .indie1 {   
    width: 40%;
    height: 170px;
    background-image: url(./../imges/indie3.webp);
    background-size: cover;
    margin-left: 855px;
    margin-top: 30px;
    border-radius: 20px;
    h1 {
        color: $text;
        font-size: 45px;
        font-family: "Oi", serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 30px;
        padding-left: 10px;
    }
    h3 {
        color: $text;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 20px;
        padding-left: 10px;
    }}

