$backround-color: rgb(0, 0, 0);
$header-active-color: #ffffff;
$header-color: rgb(20, 20, 20);
$card-color: #262626;
$default-text-color:  rgb(202, 202, 202);
$titles: rgba(255, 255, 255, 0.718);
$text: white;
$title-selected: rgb(79, 202, 255)
