@mixin title {
    color: $titles;
    font-family: "Roboto", sans-serif;
    font-size: 200%;
    margin-left: 41%;
    margin-top: 20px;
}
@mixin title2 {
    color: $title-selected;
    font-family: "Roboto", sans-serif;
    font-size: 200%;
    margin-left: 2%;
    margin-bottom: 20px;
}
@mixin cards {
     width: 173px;
    height: 220px;
    border-radius: 20px;
    margin-left: 40px;
    transition: 0.5s;

    h2 {
        color: $default-text-color;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        padding-left: 2px;
        margin-top: 5px;
        text-align: center;
        display:block;
        transition: 0.5s;
    }
    h3 {
        color: $default-text-color;
        font-family: "Roboto", sans-serif;
        text-align: center;
        padding-top: 6px;
        display:block;
        transition: 0.5s;
    }
    img {
        width: 155px;
        height: 155px;
        margin-left: 9px;
        margin-top: 9px;
        border-radius: 9%;
        transition: 0.5s;
}}