header {
    height: 60px;
     img {
        width: 60px;}
        #logo {
        width: 50px;
        margin-left: 0px;
    }
    #x {
        display: none;
    }
    a {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 10px;
    padding-right: 10px;}
     #tbc {
        margin-right: -10px;
    }
}