header {
     img {
        width: 70px;}
        #logo {
        width: 60px;
    }
    a {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 30px;
    padding-right: 30px;}
     #tbc {
        margin-right: -30px;
    }
}