html {
    background-color:black
}
.header-1 {
    height: 80px;
    background-color: rgb(20, 20, 20);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    img {
        width: 80px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #x {
        width: 80px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #logo {
        width: 70px;
        padding-left: 10px;
        margin-left: -40px;
    }
    #llogo {
        display: none;
        width: 70px;
        padding-left: 10px;
        margin-left: 20px;
    }
    a {text-decoration: none;
    color: #b7b7b7;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 50px;
    padding-right: 50px;}

    #active {
      color: #ffffff;
      background-color: rgb(111, 111, 111);
      border-radius: 20px;
    }
    #tbc {
        margin-right: -50px;
    }
    i {
        display: none;
    }

}
.card {
    width: 90%;
    height: 290px;
    background-color: #474747;
    border-radius: 40px;
    margin-top: 40px;
    margin-left: 5%;
    overflow: hidden;

    img {
        height: 230px;
        width: 340px;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 30px;
        object-fit: cover;
    }
    h1 {
        margin-left: 400px;
        margin-bottom: 50px;
        color: rgb(206, 206, 206);
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        margin-top: -220px;
    }
    p {
         margin-left: 400px;
        color: rgb(206, 206, 206);
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
}
.end {
    height: 100px;
    background-color: #1b1b1b;
    margin-top: 30px;

    p {
        color: rgb(175, 175, 175);
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        padding-top: 20px;
    }
}