.header-1 {
     img {
        width: 70px;}
        #logo {
        width: 60px;
        padding-left: 70px;
    }
    #x {
        display: none;
    }
    a {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding-left: 5px;
    padding-right: 5px;}
     
    #tbc {
        margin-right: -30px;
    }
}
.about {
    h1 {
        font-size: 20px;
    }
}
.about2 {
    h1, p {
        font-size: 20px;
    }
}